*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    direction:rtl;
    color:#333;
    font:10pt tahoma;
    background-color: rgb(241, 241, 241) 
}
a{
    text-decoration:none;
    color:rgb(138, 48, 78);
}
    .clear{
        clear:both;
    
}
.container{
    width:1170px;
    margin:0px auto;
 
   
}
.gallery-container{
    padding:10px 10px;
    overflow:auto;

}   
.gallery-container li{
    list-style:none;
    display:inline-block;
    width:22%;
    float:right;
    text-align: center;
    border:1px solid  rgb(176, 184, 184);
    margin-left:30px;
    margin-bottom:15px;
    padding:5px;
    cursor:pointer;
    border-radius:5px;
    min-height:350px;
   

}
.gallery-container .package:hover{
    
    border-radius:5px;
    background-color: rgb(247, 240, 232);
    
}
.gallery-container li img{
    clear:both;
    margin:10px auto;
    border-radius:5px;
}
 .gallery-container .package-title{
        font:10pt tahoma;
        display:block;
        margin-bottom: 10px;
        
  
    
    }
    .gallery-container .package{
        transition:all 0.6s ease;
        position: relative;
        
    }     
    .gallery-container .package-title:hover{
    color:#999;
    }
.gallery-container .package .price{
    font:10pt; tahoma;
    color:red;
    margin-bottom: 10px;
   
}
    .gallery-container .package .price:hover{
        color:rgb(216, 78, 78);
    }
.gallery-container .add-to-cart{
    background-color: bisque;
    font:9pt tahoma;
    display:inline-block;
    border:1px solid rgb(161, 81, 81);
    padding:5px 15px;
    border-radius:5px;
    margin-bottom: 10px;
 
    }
.gallery-container .add-to-cart:hover{
    background-color:#fff;

}
.gallery-container span{
    background-color: crimson;
    color:#fff;
    padding:5px;
    border-radius:10px;
    position: absolute;
    top:5px;
    left:5px;
}
li{
    list-style:none;
   
}
.wrapper{
     width:1170px;
     margin:30px auto;
     min-height:300px;
     clear:both;
     
     
}
#menubar{
    width:100%;
    height:35px;
    background-color:rgb(114, 59, 100);
    position: relative;
    
    
}
#menubar >ul>li{
    list-style:none;
    display:inline-block;
    float:right;
 
    
   }
#menubar >ul>li>a{
    color:#fff;
    margin-left:10px;
    padding:10px;
    display:block;
     
    
    
}
#menubar >ul>li>a:hover{
    background-color:#fff;
    color:rgb(131, 98, 134);

}
#menubar>ul>li:last-child {
    float:left;
}
#menubar>ul>li:nth-child(7){
    float:left;
}
#menubar>ul>li>ul{
    display:none;
    position: absolute;
    right:0;
    top:100%;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    width:1170px;
    min-height:200px;
    

    
}
#menubar>ul>li>ul>li{
    display:block;
    
    
}
#menubar>ul>li>ul>li>a{
    display:block;
    padding:8px;
    text-align:right;
    padding-right:5px;
    
    
}
#menubar>ul>li>ul>li>a:hover{
    background-color:rgb(114, 59, 100);
    color:#fff;
   
    
}  
#menubar>ul>li>:hover >ul{
    display:block;
    

}
.sidebar-menu{
    text-align:justify;
   
}
.sidebar-menu> li{
    width:20%;
    position: relative;
    background-color:rgb(220, 214, 221);
    display:block;
    
}

.sidebar-menu> li>a{
 padding:10px;
 padding-right: 15px;
 display:block;
}
.sidebar-menu> li>a:hover{
    background-color: rgb(114, 59, 100);
    color:white;

}
.sidebar-menu>li:hover >ul{
    display:block;
}
.sidebar-menu>li>ul{
    display:none;
    width:250px;
    position: absolute;
    top:0;
    right:100%;
    background-color: #fff;
    border:1px solid #efefef;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
}
.sidebar-menu>li>ul>li{
    display:block;

}
.sidebar-menu>li>ul>li>a{
    padding:10px;
    padding-right: 15px;
    display:block;
}
.sidebar-menu>li>ul>li>a:hover{
    background-color: rgb(114, 59, 100);
    color:white;   
}