font-face{
    font-family:Iransans;
    src:url("fonts/IRANSansweb.eot");
    src:url("fonts/IRANSansweb.ttf")format("truetype"),url("fonts/IRANSansweb.woff")format("woff"),url("fonts/IRANSansweb.woff2")format("woff2")
}

body{
     direction: rtl;
     
}
*{
    box-sizing:border-box;
}
a{
    text-decoration:none;
}
#header{
    background-color:rgb(188, 240, 235);
    color:rgb(31, 3, 19);
    width:100%;
    min-height: 200px;
    text-align: center;
   

}
#sidebar1{
    background-color:rgb(235, 184, 216);
    color:white;
    width:50%;
    min-height: 300px;
    margin:5px;
    
}
#main-content{
    background-color:rgb(237, 238, 155);
    width:48%;
    min-height: 300px;
    margin:5px;
}
.sidebar{
    display:inline-block;
    float:right;
    
}
.clear{
    clear:both;
}
#names{
    background-color: rgb(183, 221, 208);
    width:40%;
    min-height: 200px;
}

.names{
    display:inline-block;
    float: left;
    
}
.pictures{
    display:inline-block;
    float: left;
    }
   

#header1{
    background-color:rgb(218, 231, 158);
    width:100%;
    min-height: 150px;
    text-align: center;

}
#header2{
    background-color: rgb(219, 188, 194);
    width:100%
    min-height:250px;
    text-align: center;
}
#list{
    background-color:rgb(243, 198, 198);
    width:30%;
    font:12pt Iransans;
    min-height:300px; 
    margin:5px; 
}
#coment{
    background-color:rgb(177, 125, 125);
    width:68%;
    font:12pt Iransans;
    min-height:300px;
    margin:5px; 
}
.list{
    display:inline-block;
    float:right;
    
}
#footer{
    background-color:rgb(188, 240, 235);
    width:100%;
    font:12pt Iransans;
    min-height:150px;
    margin:5px;
}
.footer{
    display:inline-block;
    float:right;
}

#info{
    background-color: rgb(183, 221, 208);
    width:35%;
    min-height:200px;

}
#gallery{
 background-color:rgb(157, 223, 203);   
 width:100%;
 min-height:200px;
 text-align: center;
 color:white;

}
.imgs1{
  display:inline-block;
  float:right;

}
div{
    border: 3px; solid; #ccc;
    padding:10px;
}
img{
border:solid 2px rgb(162, 224, 221);
border-radius:20px 10px 20px 10px;
padding:10px;
margin: 20px;

}
img:hover{
    box-shadow:0 0 5px rgba(0,0,0,0.4);
    border-radius:5px;
}
a:hover{
    color:rgb(169, 219, 221);
    background-color:rgb(212, 162, 177);

}
.imageh{
    margin-left: 30px;
    margin-right: 5px;
    text-align: center;
    
}