*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    direction:rtl;
    color:#333;
    font:10pt tahoma;
    background-color: rgb(241, 241, 241) 
}
a{
    text-decoration:none;
    color:rgb(138, 48, 78);
}
    .clear{
        clear:both;
    
}
.container{
    width:1170;
    
    margin:30px auto;
   
}
.gallery-container{
    padding:10px 10px;
    overflow:auto;

}   
.gallery-container li{
    list-style:none;
    display:inline-block;
    width:19%;
    float:right;
    text-align: center;
    border:1px solid  rgb(176, 184, 184);
    margin-left:5px;
    margin-bottom:15px;
    padding:5px;
    cursor:pointer;
    border-radius:5px;
    min-height:350px;
   

}
.gallery-container .package:hover{
    
    border-radius:5px;
    background-color: rgb(247, 240, 232);
    
}
.gallery-container li img{
    clear:both;
    margin:10px auto;
    border-radius:5px;
}
 .gallery-container .package-title{
        font:10pt tahoma;
        display:block;
        margin-bottom: 10px;
        
  
    
    }
    .gallery-container .package{
        transition:all 0.6s ease;
        position: relative;
        
    }     
    .gallery-container .package-title:hover{
    color:#999;
    }
.gallery-container .package .price{
    font:10pt; tahoma;
    color:red;
    margin-bottom: 10px;
   
}
    .gallery-container .package .price:hover{
        color:rgb(216, 78, 78);
    }
.gallery-container .add-to-cart{
    background-color: bisque;
    font:9pt tahoma;
    display:inline-block;
    border:1px solid rgb(161, 81, 81);
    padding:5px 15px;
    border-radius:5px;
    margin-bottom: 10px;
 
    }
.gallery-container .add-to-cart:hover{
    background-color:#fff;

}
.gallery-container span{
    background-color: crimson;
    color:#fff;
    padding:5px;
    border-radius:10px;
    position: absolute;
    top:5px;
    left:5px;
}
#menubar li{
    display:inline-block;
   
}
#menubar li a{
    padding:5px 8px;
    color:black;
   
}
#menubar li:hover a{
    background-color:  bisque;
}
#menubar ul > li > ul{
    display:none;
    position: absolute;
}