*{
    padding: 0px;
    margin: 0px;
    direction: rtl;
    box-sizing: border-box;
    outline:none;
}
body{
    direction: rtl;
    font-size: 14px;
    font-family: IRANSans;
    text-align: justify;
    line-height: 26px;
    color: #666;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
a:hover{
    text-decoration: none;
}
.header{
    min-height: 200px;
    background-color: #232f3e;
    width: 100%;
}
.header-top{
    padding-top:50px; 
}
#logo{
    margin-right:30px;
}
.header-link{
    margin-right: 100px;
    font-size: 16px;
}
li{
    list-style: none;
}
ul.megamenu li{
    padding: 10px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    list-style: none;
}
ul.megamenu li a:hover{
    color: #ff3c20;
}
.fa{
    padding: 5px;
    color:#ff3c20;
}
.signin-link a:hover{
    color: #ff3c20;
}
.telephone a:hover{
    color: white;
}
.signin-link{
    padding-top: 10px;
}
.middle-left ul li{
    padding-right: 115px;
}
.all-category{
    border: 1px solid #ff3c20;
    background-color: #ff3c20;
    padding: 6px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    font-size: 17px;
}
.all-category::before{
    content: "\f0c9";
    font-family: fontawesome;
    font-size: 25px;
    position: absolute;
    top: 6px;
    right: 20px;
    color: white;
}
.all-category::after{
    content: "\f078";
    font-family: fontawesome;
    font-size: 12px;
    position: absolute;
    top: 6px;
    left: 20px;
    color: white;
}





.main-menu .header-link .container ul li {
    float: right;
    width: auto;
    margin-left: 5px;
}
.main-menu .header-link .container ul li a {
    display: block;
    padding: 5px 5px;
}
.main-menu .header-link .container ul li:hover .mega-menu {
    display: block;
}
.main-menu .header-link .container .menu-title {
    font-size: 12pt;
    color: black;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f3eded;
}
.main-menu .header-link .container .menu-list > ul >li >a {
    color: #666;
    font-size: 11px;
}
.main-menu .header-link .container .menu-page > ul >li >a {
    color: #666;
    font-size: 11px;
}
.main-menu .header-link .container .menu-page{
    width: 400px;
}
.main-menu .header-link .container .menu-list .menu-page > ul >li >a:hover{
    color: #ff3c20;
}
.main-menu .header-link .container .menu-list > ul >li >a:hover{
    color: #ff3c20;
}
.main-menu .header-link .container ul {
    padding: 0;
    margin: 0;
}
.main-menu .header-link .container ul li {
    float: right;
    width: auto;
}
.main-menu .header-link .mega-menu ul li {
    display: block;
    width: 100% !important;
}
.main-menu .header-link .mega-menu ul li a {
    padding: 0px !important;
    display: block;
}
.top-menu #top-navbar li a:hover {
    color: white;
    text-decoration: none;
    background-color: #ff3c20;
}
.main-menu .header-link .mega-menu {
    display: none;
    min-height: 150px;
    min-width: 700px;
    position: absolute;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 102;
    right: 0;
    left: 0;
}














.hidden-lg {
    display: none !important;
}
#sosearchpro.so-search {
    width: 100%;
    padding: 0;
}
#sosearchpro {
    padding: 10px 0;
    width: 60%;
    margin-right:5px;
}
#sosearchpro .search {
    position: relative;
    margin: 0;
    width: 100%;
    border-radius: 5px;
}
#sosearchpro .search .select_category {
    border: none;
        border-left-color: currentcolor;
        border-left-style: none;
        border-left-width: medium;
    border-left: 1px solid #d7d7d7;
    background-color: #f5f5f5;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    width: 22%;
}
#sosearchpro .select_category {
    position: relative;
    display: table-cell;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background: white;
        background-color: white;
}
#sosearchpro .search .select_category select {
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 12px;
    padding: 0 4px;
}
#sosearchpro .select_category select {
    height: 40px;
    width: 100%;
    line-height: 100%;
    padding: 0 5px;
    border: none;
    float: left;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#sosearchpro .select_category::after{
    content: "\f0d7";
    font-family: fontawesome;
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: 8px;
    color:#666;
}
option {
    padding: 2px 5px;
    border-width: 1px;
}
#sosearchpro .search .select_category select {
    line-height: 40px;
    color: #666;
    font-size: 12px;
}
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sosearchpro .chosen-container-single .chosen-single {
    min-width: 180px;
}
#sosearchpro .chosen-container-single .chosen-single {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
    height: 40px;
    line-height: 40px;
}
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));
    background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}
.chosen-container a {
    cursor: pointer;
}
.chosen-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:visited, a:active, a:link, a:focus {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
#sosearchpro .chosen-container-single .chosen-single div b {
    background-position: 2px 10px;
}
.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("chosen-sprite.png") no-repeat 0px 2px;
        background-position-x: 0px;
        background-position-y: 2px;
}
b, strong {
    font-weight: 700;
}
#sosearchpro .chosen-container .chosen-drop {
    border: 1px solid #e5e5e5;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
        background-clip: border-box;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100% 100%);
    clip-path: inset(100% 100%);
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}
header #sosearchpro .search .chosen-container input {
    margin: 0;
    padding-left: 10px;
}
#sosearchpro .search input {
    border: none;
    border-radius: 0px;
    background-color: #fff;
    z-index: 0;
    height: 40px;
    padding-left: 0px;
    font-size: 12px;
    width: 100%;
    background-color: #fff;
    color: #999;
}
header #sosearchpro input.chosen-search-input {
    height: 23px !important;
    line-height: 23px;
    border: 1px solid #efefef !important;
}
.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
        padding-left: 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: url("chosen-sprite.png") no-repeat 100% -20px;
        background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .form-control, select {
    border-radius: 3px;
    background-color: #eee;
    border: none;
    color: #3d3d3d;
    padding: 9px;
    font-size: 12px;
    font-size: 1.2rem;
    box-shadow: none !important;
    transition: all 0.3s ease;
}
input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}
ul, ul.menu, ol.menu, ul.blank, .our-member .respl-item .info-member ul, .why-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sosearchpro .chosen-container .chosen-results li {
    white-space: nowrap;
}
.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}
.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
}
#sosearchpro .search input {
    border: none;
    border-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    background-color: #fff;
    z-index: 0;
    height: 40px;
    padding-left: 20px;
    font-size: 12px;
    width: 100%;
    background-color: #fff;
    color: #999;
}
header #sosearchpro .dropdown-menu {
    border-radius: 0;
}
header #sosearchpro .dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}
#sosearchpro .dropdown-menu {
    min-width: 300px;
}
#sosearchpro .dropdown-menu {
    padding: 0px;
    max-height: 300px;
    overflow-y: scroll;
}
header .dropdown-menu {
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: all 0.2s ease-out;
    margin-top: 10px;
    padding: 10px 20px;
    min-width: 120px;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    left: auto;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 0px;
}
.dropdown-menu {
    background: #fff;
        background-clip: border-box;
    padding: 5px 0;
    margin-top: 0;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    font-size: 12px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
        margin-top: 2px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#sosearchpro .search .input-group-btn {
    width: 0;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
#sosearchpro .search button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 35px;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    text-transform: upper-case;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#sosearchpro .search button {
    background-color: #ff3c20;
}
#sosearchpro .search button:hover {
    background-color: #ec1e00;
}
#sosearchpro .button-search {
    border-color: #e5e5e5;
    height: 42px;
}
.btn-default {
    background: #ff3c20;
        background-color: rgb(255, 60, 32);
    border-radius: 0;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.button, .btn {
    padding: 9px 20px;
    background: #495057;
    color: #fff;
    border-radius: 5px;
    border: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    background: #ff3c20;
    border-color: #ff3c20;
}
#sosearchpro .search button i {
    font-size: 12px;
    color: #fff;
}
.button .fa, .btn .fa {
    margin: 0 5px;
}
:focus {
    outline: none;
}
#sosearchpro .search .select_category select:hover {
    cursor: pointer;
}
.span-new{
 position: absolute;
bottom: 37px;
 left: 30px;
}
.span-hot{
    position: absolute;
    bottom: 39px;
}








