*{
    padding: 0px;
    margin: 0px;
    direction: rtl;
    box-sizing: border-box;
    outline:none;
    }
body{
    direction: rtl;
    font-size: 14px;
    font-family: IRANSans;
    text-align: justify;
    line-height: 26px;
    color: #666;
    overflow-x:hidden;
}


.clear{
    clear: both;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
a:hover{
    text-decoration: none;
}
.container{
    margin-right: 70px;
}
.header{
    min-height: 200px;
    background-color: #232f3e;
}
.header-top{
    padding-top:50px; 
}
#logo{
    margin-right:30px;
}
.header-link{
    margin-right: 15px;
}
ul.megamenu li{
    float: right;
    padding: 10px;
    margin-left: 20px;
    position: relative;
}
ul.megamenu li a:hover{
    color: red;
}
.middle-left{
    float:left;
}
h2{
    font-size: 20px;
}
.fa{
    padding: 5px;
    color: white;
}
.signin-link a:hover{
    color: red;
}
.telephone a:hover{
    color: red;
}
.search{
    border-radius: 3px;
}
.signin-link{
    padding-top: 10px;
}
.middle-left ul li{
    padding-right: 110px;
    
}
.all-category{
    border: 1px solid #ff3c20;
    background-color: #ff3c20;
    padding: 5px;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    font-size: 15px;
}
.all-category::before{
    content: "\f0c9";
    font-family: fontawesome;
    font-size: 20px;
    position: absolute;
    right: 20px;
    color: white;
}
.all-category::after{
    content: "\f078";
    font-family: fontawesome;
    font-size: 12px;
    position: absolute;
    left: 20px;
    color: white;
}
.select_category{
    border-radius: 0 4px 4px 0 ;  
}
li{
    list-style: none;
}

.search-header-w{
    position: relative;
    padding: 3px;
    
}

#sosearchpro .search button{
right: 0;
bottom:0;
height: 34px;
text-align: center;
line-height: 10px;
padding: 0 35px;
font-size: 14px;
color: #fff;
border-radius:0;
border: 1px solid #ff3c20;
background: #ff3c20;
border-radius: 4px 0  0 4px ;

    
}

#sosearchpro .select_category {
    position: relative;
    display: table-cell;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    background: white;
    outline:none;
    text-align:center;
    padding-left:-5px;
    padding-right:2px;
 
}


select{
    border:none;
}

.main-menu .header-link .container ul li {
    float: right;
    margin-left: 5px;
}
.main-menu .header-link .container ul li a {
    padding:5px;
    display: block;
}
.header-link .container ul li:hover .mega-menu {
    display: block;
}
.header-link .container .menu-title {
    font-size: 12pt;
    color: black;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
 
.menu-list ul li{
    padding-bottom:0;
}

.header-link .container .menu-list > ul >li >a {
    color: #666;
    font-size: 11px;
    
    
}
.header-link .container .menu-page > ul >li >a {
    color: #666;
    font-size: 11px;
    
}

 .header-link .container .menu-list > ul >li >a:hover{
    color: #ff3c20;
    
}

.header-link .mega-menu ul li {
  width: 100% !important;
}

.mega-menu{
    display: none;
    min-height: 150px;
    min-width: 600px;
    z-index:100;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    right: 0;
    left: 0;
}
.mega-menu .menu-list #lastmenu{
    min-width: 300px;  
}

.span-new{
position: absolute;
bottom: 41px;
left: 30px;

}
   
.span-hot{
position: absolute;
bottom: 40px;
} 

.side-heading{
width:200 px;
height:200%;
display:block;
top:0px;
padding: 0 15px 0 15px;
margin: 0;
position: relative;
margin-top:15px;
font-size: 14px;

}

.side-heading a{
color:#666;
display: block;
width:200px;
    
}
.side-heading a:hover{
    color:#ff3c20;

}
.list-group ul{
    padding:0;
}
.list-group{
    width:200 px;
    height:200%;
    display:block;
    top:0px;
    right:20px;
    border:1px solid #ccc;
    margin: 0;
    position: relative;
    margin-top:15px;
    margin-left:0;
    font-size: 14px;
    padding:0 15px 0 15px; 
 
}
.list-group-item{
    border:none;
}
.list-group:hover{
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3); 
    padding:transparent;
}

.list-group a:hover{
color:#ff3c20;
box-shadow:0 0 5px rgba(0, 0, 0, 0.3);


}
.list-group-item .fa{
    color:#ff3c20;
    
}
.list-group-item .fa:hover{
    color:#ff3c20;
}

.sidemenu > li:hover > ul{
    display:block;
}
.sidemenu > li > ul{
    display:none;
    width:250px;
    position: absolute;
    top:0;
    right:100%;
    background-color: #fff;
    border:1px solid #efefef;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    z-index:100;
    float: left;
}
.sidemenu > li > ul > li{
    display:block;

}

.sidemenu > li > ul > li > a{
    padding:10px;
    padding-right: 15px;
    display:block;
}
.sidemenu > li > ul > li > a:hover{
    color:#ff3c20;
    transition:  all 0.5s;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
    
}
.sidemenu ul li:hover > ul {
    display:block;
}
#slider{
    margin-top:50px;
    margin-right:0;
}
.left-block img{
    max-width:150%;
    max-height:150px;
    vertical-align: middle;
    display:inline;
}
.banner img{
    max-width:100%;
    vertical-align: middle;
    display:inline;
}
.deals-layout1 {
    position: relative;
}
.module h3.modtitle {
border-bottom: 2px solid #eee;
display: inline-block;
width: 100%;
position: relative;
margin-top: 0;
margin-bottom: 20px;
font-size: 16px;
color: #000;
font-weight: 700;
text-transform: uppercase;
}
.module h3  span {
font-size: 16px;
color: #fff;
font-weight: 700;
float: right;
text-transform: uppercase;
margin-bottom: 0px;
background-color: #232f3e;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
padding: 11px 20px;
position: relative;
bottom: -2px;
}
.slick-append {
    position: absolute;
    left: 20px;
}
element {

    display: inline-block;

}
.slick-append button {
   
display: inline-block;
border-radius: 3px;
transform: translateY(-5px);
color: #333333;
border: none;
outline: none;
background-color:#fff;
border: 2px solid #ccc;
border-radius: 50%;
width: 28px;
height: 28px;
line-height: 22px;
text-align: center;
float: right;
overflow: hidden;
cursor: pointer;
opacity: 1;
z-index: 99;
}

.grade-wrapper img{
    max-width:100%; 
    
}
.product-info .product-title {   
 padding-bottom:20px;
}

.product-info .product-title a{
    color: #222;
    font-size: 18px;
    
}

.product-info .product-title a:hover{
    color:#ff3c20;  
}

.product-info .product-price{
    color:#ff3c20; 
    padding-bottom:20px; 
}

.add-to-cart .fa{
    color:#ff3c20; 
}



.a1 b{
    color:#ff3c20; 
      
}
h4.modtitle{
font-size: 16px;
color: #222;
font-weight: 700;
float: right;
text-transform: uppercase;
background-color: transparent;
padding: 0;
padding-bottom: 8px;
bottom: 0;
border-bottom: 2px solid #eee;
display: inline-block;
width: 100%;
position: relative;
margin-bottom: 7px;
margin-top:15px;
}

.item-info .item-title a{
       color: #222;
       font-size: 16px;
       
   }
   
   .item-info .item-title a:hover{
       color:#ff3c20;  
   }
   
   .item-info .item-price{
       color:#ff3c20; 
       
   }
   span.fa-stack .fa-stack-2x {
    font-size: 11px;
    color:#666;
    
   }
   span.fa-stack {
    width: 14px;
    height: 11px;
    line-height: 10px;
    font-size: 12px;
    margin-bottom:15px;
   }
   .slick-append {
    position: absolute;
    left: 20px;
}
.slick-append button {
   
display: inline-block;
border-radius: 3px;
transform: translateY(-5px);
color: #333333;
border: none;
outline: none;
background-color:#fff;
border: 2px solid #ccc;
border-radius: 50%;
width: 28px;
height: 28px;
line-height: 22px;
text-align: center;
overflow: hidden;
cursor: pointer;
opacity: 1;
z-index: 99;
}
.slick-append button:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}
   .block-infos li .inner {
    padding: 25px 0;
}
.block-infos li .inner i {
    font-size: 30px;
    padding-top: 8px;
    width: 50px;
    float:right;
    margin-right: 10px;
    text-align: center;
}
.block-infos li .inner {
padding:12px 0;
       
}
.block-infos {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
   
}
.info-cont a{
    color:#222;
    
}
.inner{
    border-bottom: 1px solid #ebebeb;
    
}
.inner .fa{
    color:#222;
}

.info-cont a:hover{
    color:#ff3c20;
}
.inner .fa:hover{
    color:#ff3c20;    
}

.blog-title{
    color:#222;
    margin-top:15px;
    margin-bottom:20px; 
    margin-right:40px;
    padding-bottom: 20px;
}
.blog-title a{
    color:#222;  

}
.blog-title .fa{
    color:#222;
    
}
.media-date-added{
    margin-top:10px;
    margin-left:5px;
}
 .label-product-sale {
    background-color: #ff3c20;
    right: 20px;
}
.label-product-sale {
    text-align: center;
    background-color: #ff3c20;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    top: 20px;
    text-transform: uppercase;
    z-index: 9;
    padding: 0;
    margin-bottom: 5px;
}



.middle-menu .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top:5px;
}
   
.navbar-middle{
    float:left;
}
.navbar-collapse{
    max-height: 340px;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-middle .links{
    overflow: auto;
    margin-bottom: 0 !important;
}

.middle-menu .links li {
    display: inline-block;
    float: right;
    
    
}
.middle-menu .links li a {
    color: #222;
    display: block;
    width: auto;
    padding-right: 10px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom:0;
    
}
.middle-menu{
    font-size: 16px;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    padding-bottom:0px;
    bottom: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom:0px;
    margin-top:15px;
    }




    .typefooter-1 {
        margin-top: 0px;
    }
    .footer-container {
        clear: both;
    }
    footer{
        display:block;
    }
    footer #collapse-footer {
        max-height: 100%;
    }
    footer #collapse-footer {
        display: block;
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .so-page-builder .container-fluid {
        padding: 0;
        overflow: hidden;
    }
    .typefooter-1 .footer-top {
        background-color: #232f3e;
        padding: 37px 0;
    }
    .typefooter-1 .footer-top .ftop {
        margin: 0 auto;
        float: none;
        padding: 0;
    }
    body.layout-2 .container, body.layout-1 .container {
        max-width: 1650px;
        padding: 0;
        width: 93%;
    }
    typefooter-1 .footer-top .ftop {
        margin: 0 auto;
        float: none;
        padding: 0;
    }

    .col-lg-8{
        float:right;
    }
    
    .typefooter-1 .footer-top .ftop .col-lg-8 {
        width: 75%;
    }
    .typefooter-1 .newsletter-footer1 .newsletter {
        background-color: transparent !important;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .title-block {
        width: 45%;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .title-block {
        position: relative;
        color: #fff;
        float: right;
        width: 40%;
        padding-left: 70px;
        margin-top: 17px;
    }
  
    .typefooter-1 .newsletter-footer1 .newsletter .title-block {
        position: relative;
        color: #fff;
        float: left;
        width: 40%;
        padding-left: 70px;
        margin-top: 17px;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .title-block::before {
        position: absolute;
        font-family: 'FontAwesome';
        content: "\f1d9";
        font-size: 40px;
        position: absolute;
        top: 5px;
        left: 0;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .title-block {
        color: #fff;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .title-block .page-heading {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 20px;
        font-weight: 700;
        text-transform: capitalize;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .title-block .promotext {
        font-size: 14px;
    }
   
    .typefooter-1 .newsletter-footer1 .newsletter .block_content {
        float: right;
        width: 60%;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup {
        display: block;
        margin-top: 11px;
        padding-left: 45px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group {
        position: relative;
    }
    .newsletter .form-inline .form-group {
        display: block;
    }
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group .input-box {
       
        vertical-align: top;
        padding-right: 100px;
        border-radius: 4px;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group #txtemail {
        height: 50px;
        line-height: 50px;
        width: 100%;
        box-shadow: none;
        padding: 0 0 0 20px;
        border: none;
        background-color: #fff;
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group .subcribe {
        position: absolute;
        top: 0;
        left: 0;
    }
    .typefooter-1 .newsletter-footer1 .newsletter .title-block::before {
        position: absolute;
        font-family: 'FontAwesome';
        content: "\f1d9";
        font-size: 40px;
        position: absolute;
        top: 5px;
        left:60px;
    }

.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button {

    border: 0 none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0 17px;
    text-transform: capitalize;
   

}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button {
background-color: #ff3c20;

}
.btn-default {

background: #ff3c20;
background-color: rgb(255, 60, 32);
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;

}
.typefooter-1 .footer-top .ftop .col-lg-4 {
    width: 25%;
}
.col-lg-4 {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}


.col-lg-8{
    float: left;
}
.typefooter-1 .socials {
    float: left;
    margin-top: 25px;
}

.typefooter-1 .socials li {
    position: relative;
    display: inline-block;
    padding-left: 18px;
    margin-left: 18px;
}

a, a:visited, a:active, a:link, a:focus {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
.typefooter-1 .socials li a {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}
.typefooter-1 .socials li a i {
    display: inline-block;
    font-size: 16px;
    margin-right:2px;
    padding:0;
}

.typefooter-1 .socials li a i:hover{
    color:#ff3c20;
}

.typefooter-1 .socials li a span {
        display: none;
    }


    .fa-facebook-f::before {
        content: "\f09a";
    }
    .fa-google-plus::before {
        content: "\f0d5";
    }
    .fa-twitter::before {
        content: "\f099";
    }
    .typefooter-1 .socials li::before {
        background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
        content: "";
        height: 10px;
        position: absolute;
        left: 0;
        top: 8px;
        width: 1px;
    }







   

   
  






