*{
    padding: 0px;
    margin: 0px;
    direction: rtl;
    box-sizing: border-box;
    outline:none;
    }
body{
    direction: rtl;
    font-size: 14px;
    font-family: IRANSans;
    text-align: justify;
    line-height: 26px;
    color: #666;
    overflow-x:hidden;
}


.clear{
    clear: both;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
a:hover{
    text-decoration: none;
}
.container{
    margin-right: 70px;
}
.header{
    min-height: 200px;
    background-color: #232f3e;
}
.header-top{
    padding-top:50px; 
}
#logo{
    margin-right:30px;
}
.header-link{
    margin-right: 15px;
}
ul.megamenu li{
    float: right;
    padding: 10px;
    margin-left: 20px;
    position: relative;
}
ul.megamenu li a:hover{
    color: red;
}
.middle-left{
    float:left;
}
h2{
    font-size: 20px;
}
.fa{
    padding: 5px;
    color: white;
}
.signin-link a:hover{
    color: red;
}
.telephone a:hover{
    color: red;
}
.search{
    border-radius: 3px;
}
.signin-link{
    padding-top: 10px;
}
.middle-left ul li{
    padding-right: 110px;
    
}
.all-category{
    border: 1px solid #ff3c20;
    background-color: #ff3c20;
    padding: 5px;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    font-size: 15px;
}
.all-category::before{
    content: "\f0c9";
    font-family: fontawesome;
    font-size: 20px;
    position: absolute;
    right: 20px;
    color: white;
}
.all-category::after{
    content: "\f078";
    font-family: fontawesome;
    font-size: 12px;
    position: absolute;
    left: 20px;
    color: white;
}
.select_category{
    border-radius: 0 4px 4px 0 ;  
}
li{
    list-style: none;
}

.search-header-w{
    position: relative;
    padding: 3px;
    
}

#sosearchpro .search button{
right: 0;
bottom:0;
height: 34px;
text-align: center;
line-height: 10px;
padding: 0 35px;
font-size: 14px;
color: #fff;
border-radius:0;
border: 1px solid #ff3c20;
background: #ff3c20;
border-radius: 4px 0  0 4px ;

    
}

#sosearchpro .select_category {
    position: relative;
    display: table-cell;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    background: white;
    outline:none;
    text-align:center;
    padding-left:-5px;
    padding-right:2px;
 
}


select{
    border:none;
}

.main-menu .header-link .container ul li {
    float: right;
    margin-left: 5px;
}
.main-menu .header-link .container ul li a {
    padding:5px;
    display: block;
}
.header-link .container ul li:hover .mega-menu {
    display: block;
}
.header-link .container .menu-title {
    font-size: 12pt;
    color: black;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
 
.menu-list ul li{
    padding-bottom:0;
}

.header-link .container .menu-list > ul >li >a {
    color: #666;
    font-size: 11px;
    
    
}
.header-link .container .menu-page > ul >li >a {
    color: #666;
    font-size: 11px;
    
}

 .header-link .container .menu-list > ul >li >a:hover{
    color: #ff3c20;
    
}

.header-link .mega-menu ul li {
  width: 100% !important;
}

.mega-menu{
    display: none;
    min-height: 150px;
    min-width: 600px;
    z-index:100;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    right: 0;
    left: 0;
}
.mega-menu .menu-list #lastmenu{
    min-width: 300px;  
}

.span-new{
position: absolute;
bottom: 41px;
left: 30px;

}
   
.span-hot{
position: absolute;
bottom: 40px;
} 
.sidebar-menu{
text-align:justify;
   
}
.sidebar-menu> li{
    width:20%;
    position: relative;
    background-color:#fff;
    display:block;
    border:none;
    
    
}

.sidebar-menu> li>a{
 padding:10px;
 padding-right: 15px;
 display:block;
 color:#666;
 
}
.sidebar-menu> li>a:hover{
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3); 
    color:#666;
   


}
.sidebar-menu>li:hover >ul{
    display:block;
}
.sidebar-menu>li>ul{
    display:none;
    width:250px;
    position: absolute;
    top:0;
    right:100%;
    background-color: #fff;
    border:1px solid #efefef;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    z-index:100;
   
}
.sidebar-menu>li>ul>li{
    display:block;

}
.sidebar-menu>li>ul>li>a{
    padding:10px;
    padding-right: 15px;
    display:block;
}
.sidebar-menu>li>ul>li>a:hover{
    background-color: rgb(114, 59, 100);
    color:white;   
}








   

   
  






